
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-Sz4 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 30.55rem 47.65rem 42.3rem 48.15rem;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;

  .guess-the-day-Xe8 {
    align-items: center;
    font-size: 6rem;
    flex-shrink: 0;
    font-weight: 800;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    margin-bottom: 9.35rem;
    display: flex;
    justify-content: center;
  }
  .auto-group-jwsc-53N {
    margin: 0rem 2.65rem 0rem 2.15rem;
    justify-content: center;
    background-color: #5474c8;
    font-size: 4rem;
    flex-shrink: 0;
    width: calc(100% - 4.8rem);
    align-items: center;
    line-height: 1.2125;
    color: #ffffff;
    white-space: nowrap;
    border-radius: 2rem;
    height: 12.9rem;
    display: flex;
    font-weight: 700;
    font-family: Inter, 'Source Sans Pro';
  }
}
